.not-found-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 30px;
}

.title-not-found {
  font-size: 5em;
  color: var(--color-accent);
  margin-bottom: 10px;
}

.subtitle-not-found {
  color: var(--color-gray-dark);
  margin-bottom: 20px;
}

.text-not-found {
  color: var(--color-gray-light);
  margin-bottom: 30px;
}

.link-notFound {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}
